.animate-from-right,
.animate-from-left,
.animate-appears{
    @include transition-liear(.5s);
}

/*---------------------------*/

.animate-from-right.ng-hide-add.ng-hide-add-active,
.animate-from-right.ng-hide-remove {
    @include transform(translateX(150%));
}


.animate-from-right.ng-hide-add,
.animate-from-right.ng-hide-remove.ng-hide-remove-active{
    @include transform(translateX(0));
    opacity: 1;
}

.animate-from-right.ng-hide-add,
.animate-from-right.ng-hide-remove{
  display: block!important;
}

/*---------------------------*/
.animate-appears.ng-leave.ng-leave-active,
.animate-appears.ng-enter {
   opacity: 0;
}


.animate-appears.ng-enter.ng-enter-active ,
.animate-appears.ng-leave{
   opacity: 1
}
